body {
     text-align: center;
}
.layout {
    display: grid;
    grid-template-columns: 1fr;
}
.title {
    font-size: 4rem;
}


@media screen and (min-width: 715px) {
    .layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1075px) {
    .layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}