body {
     text-align: center;
     background-color: rgb(224, 187, 187);
}
.layout {
    display: grid;
    grid-template-columns: 1fr;
}
.title {
    font-size: 4rem;
    color: black;
}
.box h2 {
    margin-top: -2px;
    margin-bottom: 5px;
}
.box {
    margin-bottom: 35px;
}
a {
    color: black;
}
a:hover {
    color: white;
}
@media screen and (min-width: 715px) {
    .layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1075px) {
    .layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}